# Guided Capstone Step 4. Pre-Processing and Training Data Development

**The Data Science Method**  


1.   Problem Identification 


2.   Data Wrangling 
  
 
3.   Exploratory Data Analysis   

4.   **Pre-processing and Training Data Development**  
 * Create dummy or indicator features for categorical variables
  * Standardize the magnitude of numeric features
  * Split into testing and training datasets
  * Apply scaler to the testing set
5.   Modeling 
  * Fit Models with Training Data Set
  * Review Model Outcomes — Iterate over additional models as needed.
  * Identify the Final Model

6.   Documentation
  * Review the Results
  * Present and share your findings - storytelling
  * Finalize Code 
  * Finalize Documentation

**<font color='teal'> Start by loading the necessary packages as we did in step 3 and printing out our current working directory just to confirm we are in the correct project directory. </font>**

In [1]:
import os
import pandas as pd
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

**<font color='teal'>  Load the csv file you created in step 3, remember it should be saved inside your data subfolder and print the first five rows.</font>**

In [2]:
filename='/home/jmurp24/Desktop/springboard/Guided_Capstone/data/step_three_dfno.csv'
df=pd.read_csv(filename)
df.head()
df=df.drop('Unnamed: 0', axis=1)
df.head()
df.columns

Index(['Name', 'state', 'summit_elev', 'vertical_drop', 'trams', 'fastEight',
       'fastSixes', 'fastQuads', 'quad', 'triple', 'double', 'surface',
       'total_chairs', 'Runs', 'TerrainParks', 'LongestRun_mi',
       'SkiableTerrain_ac', 'Snow Making_ac', 'daysOpenLastYear', 'yearsOpen',
       'averageSnowfall', 'AdultWeekday', 'AdultWeekend', 'projectedDaysOpen',
       'NightSkiing_ac', 'clusters'],
      dtype='object')

## Create dummy features for categorical variables

**<font color='teal'> Create dummy variables for `state`. Add the dummies back to the dataframe and remove the original column for `state`. </font>**

Hint: you can see an example of how to execute this in Aiden's article on preprocessing [here](https://medium.com/@aiden.dataminer/the-data-science-method-dsm-pre-processing-and-training-data-development-fd2d75182967).

In [3]:
df_state=df['state']
df_model1= pd.concat([df.drop('state', axis=1), pd.get_dummies(df_state)], axis=1)
df_model2=df.drop('state',axis=1)
df_model3=df.drop(['state','summit_elev'],axis=1)

In [4]:
df.head()

,Name,state,summit_elev,vertical_drop,trams,fastEight,fastSixes,fastQuads,quad,triple,...,SkiableTerrain_ac,Snow Making_ac,daysOpenLastYear,yearsOpen,averageSnowfall,AdultWeekday,AdultWeekend,projectedDaysOpen,NightSkiing_ac,clusters
0,Hilltop Ski Area,Alaska,2090,294,0,0.0,0,0,0,1,...,30.0,30.0,150.000000,36.0,69.0,30.0,34.00000,152.0,30.0,0
1,Sunrise Park Resort,Arizona,11100,1800,0,0.0,0,1,2,3,...,800.0,80.0,115.000000,49.0,250.0,74.0,78.00000,104.0,80.0,1
2,Yosemite Ski & Snowboard Area,California,7800,600,0,0.0,0,0,0,1,...,88.0,0.0,110.000000,84.0,300.0,47.0,47.00000,107.0,0.0,1
3,Boreal Mountain Resort,California,7700,500,0,0.0,0,1,1,3,...,380.0,200.0,150.000000,54.0,400.0,49.0,64.16681,150.0,200.0,1
4,Dodge Ridge,California,8200,1600,0,0.0,0,0,1,2,...,862.0,0.0,151.578947,69.0,350.0,78.0,78.00000,140.0,0.0,1

## Standardize the magnitude of numeric features

**<font color='teal'> Using sklearn preprocessing standardize the scale of the features of the dataframe except the name of the resort which we done't need in the dataframe for modeling, so it can be droppped here as well. Also, we want to hold out our response variable(s) so we can have their true values available for model performance review. Let's set `AdultWeekend` to the y variable as our response for scaling and modeling. Later we will go back and consider the `AdultWeekday`, `dayOpenLastYear`, and `projectedDaysOpen`. For now leave them in the development dataframe. </font>**

In [5]:
# first we import the preprocessing package from the sklearn library
from sklearn import preprocessing

# Declare an explanatory variable, called X,and assign it the result of dropping 'Name' and 'AdultWeekend' from the df
X = df_model1.drop(['Name','AdultWeekend'], axis=1)

# Declare a response variable, called y, and assign it the AdultWeekend column of the df 
y = df['AdultWeekend']

# Here we use the StandardScaler() method of the preprocessing package, and then call the fit() method with parameter X 
scaler = preprocessing.StandardScaler().fit(X)

# Declare a variable called X_scaled, and assign it the result of calling the transform() method with parameter X 
X_scaled=scaler.transform(X)

## Split into training and testing datasets

**<font color='teal'> Using sklearn model selection import train_test_split, and create a 75/25 split with the y = `AdultWeekend`. We will start by using the adult weekend ticket price as our response variable for modeling.</font>**

In [6]:
# Import the train_test_split function from the sklearn.model_selection utility.  
from sklearn.model_selection import train_test_split

# Get the 1-dimensional flattened array of our response variable y by calling the ravel() function on y
y = y.ravel()

# Call the train_test_split() function with the first two parameters set to X_scaled and y 
# Declare four variables, X_train, X_test, y_train and y_test separated by commas 
X_train, X_test, y_train, y_test= train_test_split(X_scaled, y, test_size=0.25, random_state=1)

Here we start the actual modeling work. First let's fit a multiple linear regression model to predict the `AdultWeekend` price.

# Guided Capstone Step 5. Modeling

This is the fifth step in the Data Science Method. In the previous steps you cleaned and prepared the datasets. Now it's time to get into the most exciting part: modeling! In this exercise, you'll build three different models and compare each model's performance. In the end, you'll choose the best model for demonstrating insights to Big Mountain management.



### **The Data Science Method**  


1.   Problem Identification 

2.   Data Wrangling 
  
3.   Exploratory Data Analysis 
 
4.   Pre-processing and Training Data Development

5.   **Modeling**
  * Fit Models with Training Data Set
  * Review Model Outcomes — Iterate over additional models as needed.
  * Identify the Final Model

6.   Documentation
  * Review the Results
  * Present and share your findings - storytelling
  * Finalize Code 
  * Finalize Documentation

## Fit Models with a Training Dataset

**<font color='teal'> Using sklearn, fit the model on your training dataset.</font>**

#### Model 1

In [7]:
#all first model set
from sklearn import linear_model
from sklearn.metrics import explained_variance_score,mean_absolute_error
lm = linear_model.LinearRegression()
model = lm.fit(X_train,y_train)

**<font color='teal'> Predict on the testing dataset and score the model performance with the y_test set and the y-pred values. The explained variance is a measure of the variation explained by the model. This is also known as the R-squared value. </font>**

Hint: you will have to use the `predict()` method here as it's used in this [DSM article](https://medium.com/@aiden.dataminer/the-data-science-method-dsm-modeling-56b4233cad1b) about modeling.

In [8]:
# Make a variable called y_pred and assign it the result of calling predict() on our model variable with parameter X_test
y_pred=model.predict(X_test)
y_pred

array([72.11307436, 60.00369936, 47.4636603 , 42.92240053, 59.47342592,
       84.4089728 , 47.4402228 , 85.21268374, 63.23514467, 45.92264467,
       76.99686342, 80.40506655, 66.03592592, 58.81033999, 53.52420717,
       59.81180483, 41.10233217, 35.55350405, 35.9089728 , 40.13748842,
       49.86795717, 47.97733217, 65.22537905, 51.92069155, 34.28861147,
       69.77225405, 59.70682436, 32.8152228 , 60.85501772, 54.1199103 ,
       50.00540835, 74.38358217, 86.76932436, 69.85623842, 54.86258608,
       29.4714728 , 73.18338686, 59.65701967, 54.59403139, 48.12381655,
       53.16092592, 33.0417853 , 49.19412905, 32.8855353 , 46.94412905])

## Review Model Outcomes — Iterate over additional models as needed

In [9]:
# You might want to use the explained_variance_score() and mean_absolute_error() metrics.
# To do so, you will need to import them from sklearn.metrics. 
# You can plug y_test and y_pred into the functions to evaluate the model

In [10]:
from sklearn import metrics
print('explained variance score:')
print(metrics.explained_variance_score(y_test,y_pred))

explained variance score:
0.6097601256705574

In [11]:
print('mean absolute error:')
print(metrics.mean_absolute_error(y_test,y_pred))

mean absolute error:
6.797382221127135

**<font color='teal'> Print the intercept value from the linear model. </font>**

Hint: our linear regression model `lm` has an attribute `intercept_` for the intercept

In [12]:
lm.intercept_

56.38162904827424

**<font color='teal'> The intercept is the mean `AdultWeekend` price for all the resorts given the other characteristics. The addition or subtraction of each of the coefficient values in the regression are numeric adjustments applied to the intercept to provide a particular observation's value for the resulting `AdultWeekend` value. Also, because we took the time to scale our x values in the training data, we can compare each of the coeeficients for the features to determine the feature importances. Print the coefficient values from the linear model and sort in descending order to identify the top ten most important features.</font>** 


Hint: make sure to review the absolute value of the coefficients, because the adjustment may be positive or negative, but what we are looking for is the magnitude of impact on our response variable.

In [13]:
# You might want to make a pandas DataFrame displaying the coefficients for each state like so: 
pd.DataFrame(abs(lm.coef_), X.columns, columns=['Coefficient']).sort_values(by='Coefficient')

                    Coefficient
Snow Making_ac     1.113281e-01
Runs               1.250000e-01
yearsOpen          5.722656e-01
LongestRun_mi      8.623047e-01
SkiableTerrain_ac  9.202881e-01
TerrainParks       9.970703e-01
NightSkiing_ac     9.987793e-01
summit_elev        1.333078e+00
vertical_drop      1.734614e+00
daysOpenLastYear   1.776367e+00
averageSnowfall    1.903809e+00
projectedDaysOpen  2.085938e+00
clusters           2.860352e+00
AdultWeekday       8.810547e+00
Arizona            8.697315e+11
South Dakota       8.697315e+11
Nevada             8.697315e+11
Alaska             8.697315e+11
Maryland           8.697315e+11
Tennessee          8.697315e+11
Rhode Island       8.697315e+11
New Jersey         8.697315e+11
Indiana            1.226487e+12
Missouri           1.226487e+12
Virginia           1.226487e+12
fastSixes          1.390054e+12
Oregon             1.497835e+12
Utah               1.497835e+12
Iowa               1.497835e+12
Illinois           1.497835e+12
West Virginia      1.497835e+12
Montana            1.724574e+12
Washington         1.724574e+12
Ohio               1.724574e+12
North Carolina     1.724574e+12
Massachusetts      1.724574e+12
Wyoming            1.922552e+12
Colorado           1.922552e+12
Maine              1.922552e+12
Connecticut        1.922552e+12
Idaho              2.099919e+12
New Mexico         2.099919e+12
Vermont            2.410556e+12
Minnesota          2.410556e+12
Pennsylvania       2.801427e+12
Wisconsin          2.801427e+12
New Hampshire      2.801427e+12
California         2.917168e+12
Michigan           3.231707e+12
fastQuads          3.619218e+12
New York           3.673615e+12
quad               4.333765e+12
triple             7.621360e+12
surface            8.906440e+12
double             9.342538e+12
fastEight          1.477890e+13
total_chairs       1.700807e+13
trams              2.398487e+13

**<font color='teal'>You should see that the top ten important features are different states. However, the state is not something the managers at the Big Mountain Resort can do anything about. Given that we care more about actionable traits associated with ticket pricing, rebuild the model without the state features and compare the results. </font>**

Hint: Try to construct another model using exactly the steps we followed above.

#### Model 2

In [14]:
from sklearn import preprocessing
X = df_model2.drop(['Name','AdultWeekend'], axis=1)
y = df['AdultWeekend']
scaler = preprocessing.StandardScaler().fit(X)
X_scaled=scaler.transform(X)

In [15]:
from sklearn.model_selection import train_test_split
y = y.ravel()
X_train, X_test, y_train, y_test= train_test_split(X_scaled, y, test_size=0.25, random_state=1)

In [16]:
from sklearn import linear_model
from sklearn.metrics import explained_variance_score,mean_absolute_error
lm = linear_model.LinearRegression()
model = lm.fit(X_train,y_train)

In [17]:
y_pred=model.predict(X_test)
y_pred

array([72.0487621 , 59.3920926 , 38.92145681, 49.38078265, 62.90561879,
       64.37296507, 52.48412101, 75.05652075, 62.52193105, 45.73521868,
       74.62507646, 79.41233425, 62.87693988, 63.2320181 , 54.39457114,
       56.00337142, 47.9414715 , 42.83166544, 47.60600701, 40.57806779,
       50.58417956, 52.50288013, 64.03631731, 60.01477573, 39.8680189 ,
       62.5901021 , 55.15620085, 37.40855547, 50.25142869, 53.48636247,
       51.50188646, 67.0681674 , 93.81482402, 68.19079954, 54.91218692,
       28.50682004, 75.8899653 , 61.9278009 , 54.06256751, 51.66071452,
       52.9255119 , 35.08326145, 50.05990481, 39.33517711, 47.72407886])

In [18]:
from sklearn import metrics
print('explained variance score:')
print(metrics.explained_variance_score(y_test,y_pred))

explained variance score:
0.6402839911782008

In [19]:
print('mean absolute error:')
print(metrics.mean_absolute_error(y_test,y_pred))

mean absolute error:
6.862714882376508

In [20]:
lm.intercept_

56.44967237785467

In [21]:
pd.DataFrame(abs(lm.coef_), X.columns, columns=['Coefficient']).sort_values(by='Coefficient')

                    Coefficient
fastEight          0.000000e+00
fastSixes          4.440892e-16
trams              1.776357e-15
Runs               2.335388e-02
NightSkiing_ac     1.517063e-01
fastQuads          2.210917e-01
total_chairs       5.040797e-01
Snow Making_ac     5.046440e-01
triple             5.880065e-01
SkiableTerrain_ac  6.817111e-01
yearsOpen          7.400102e-01
LongestRun_mi      7.668427e-01
averageSnowfall    8.916953e-01
double             9.316346e-01
surface            1.466524e+00
TerrainParks       1.590904e+00
quad               1.765095e+00
projectedDaysOpen  1.790349e+00
vertical_drop      1.944506e+00
daysOpenLastYear   2.520708e+00
clusters           3.303546e+00
summit_elev        3.364697e+00
AdultWeekday       9.960381e+00

**<font color='teal'> When reviewing our new model coefficients, we see `summit_elev` is now in the number two spot. This is also difficult to change from a management prespective and highly correlated with `base_elev` and `vertical_drop`.  This time, rebuild the model without the state features and without the `summit_elev` and without `base_elev`and compare the results. </font>**

#### Model 3

In [22]:
#base_elev was dropped in step3
from sklearn import preprocessing
X = df_model3.drop(['Name','AdultWeekend'], axis=1)
y = df['AdultWeekend']
scaler = preprocessing.StandardScaler().fit(X)
X_scaled=scaler.transform(X)

In [23]:
from sklearn.model_selection import train_test_split
y = y.ravel()
X_train, X_test, y_train, y_test= train_test_split(X_scaled, y, test_size=0.25, random_state=1)

In [24]:
from sklearn import linear_model
from sklearn.metrics import explained_variance_score,mean_absolute_error
lm = linear_model.LinearRegression()
model = lm.fit(X_train,y_train)

In [25]:
y_pred=model.predict(X_test)
y_pred

array([79.31302507, 59.56784849, 39.05687512, 49.35672874, 59.83928729,
       64.45008792, 50.60026355, 77.8134688 , 61.773442  , 45.43986764,
       78.70402833, 78.37472458, 62.19023387, 61.79463403, 53.74233278,
       55.59949995, 46.25214145, 42.21944104, 47.80320977, 41.27168238,
       49.55807495, 52.43459349, 62.8089681 , 60.22855209, 38.67413737,
       61.98787047, 53.55546725, 38.6563443 , 55.41043228, 53.65896431,
       51.55501736, 65.14644573, 88.8508364 , 68.66815904, 54.04673117,
       34.05843603, 82.07146983, 60.71381634, 52.90879365, 51.92692303,
       49.56709435, 34.24196153, 49.10082372, 38.76769874, 47.76687774])

In [26]:
from sklearn import metrics
print('explained variance score:')
print(metrics.explained_variance_score(y_test,y_pred))

explained variance score:
0.6389854896138665

In [27]:
print('mean absolute error:')
print(metrics.mean_absolute_error(y_test,y_pred))

mean absolute error:
6.593341332691425

In [28]:
lm.intercept_

56.45330984493113

In [29]:
pd.DataFrame(abs(lm.coef_), X.columns, columns=['Coefficient']).sort_values(by='Coefficient')

                    Coefficient
fastSixes          4.440892e-16
trams              2.664535e-15
fastEight          3.996803e-15
Runs               1.637205e-01
NightSkiing_ac     2.728012e-01
fastQuads          3.114933e-01
triple             3.493195e-01
total_chairs       6.241974e-01
yearsOpen          8.944174e-01
Snow Making_ac     9.076910e-01
double             1.074117e+00
LongestRun_mi      1.092944e+00
projectedDaysOpen  1.134393e+00
surface            1.145673e+00
TerrainParks       1.396431e+00
SkiableTerrain_ac  1.424953e+00
vertical_drop      1.567378e+00
quad               1.614213e+00
daysOpenLastYear   1.667075e+00
averageSnowfall    1.883544e+00
clusters           2.760428e+00
AdultWeekday       9.626697e+00

Model Selection:

In [32]:
model_comparison=pd.DataFrame({'Explained Variance': [0.6097601256705574,0.6402839911782008,0.6389854896138665],
                              'Mean Absolute Error':[6.797382221127135,6.862714882376508,6.593341332691425],
                               'Features Dropped':['-','state','state,summit_elev']},index=['Model1','Model2','Model3'])

In [33]:
model_comparison

        Explained Variance  Mean Absolute Error   Features Dropped
Model1            0.609760             6.797382                  -
Model2            0.640284             6.862715              state
Model3            0.638985             6.593341  state,summit_elev

In [ ]:
#Model 3 I think makes the most sense.  While it doesnt have the highest R-square, it is only marginally better
#than Model 2 in that regard.  It has the lowest mean absoloute error, and that makes up for it.